<div class="main">
  <!-- <div *ngFor="let i of grid;" class="col">
    <span *ngFor="let j of i" class="row">
      {{j}}
    </span>
  </div> -->

  <h1>Map Generator</h1>

  <div class="canvasDiv">
    <canvas id="canvas" #canvas width="500" height="500"></canvas>
  </div>

  <br />

  <div class="buttons">
    <button (click)="start()">START</button>
    <button (click)="reset()">Reset</button>
    <button (click)="addLandStructure()">Add City</button>
    <button (click)="addWaterStructure()">Add Water Stucture</button>
    <button (click)="addNaturalFeature()">Add Natural Feature</button>
    <button (click)="downloadMap()">Download Map</button>
    <button (click)="randomize()">Randomize</button>

    <p>Cycle: {{cycle}}</p>
  </div>

  






</div>

<router-outlet></router-outlet>